:root {
    --color-main: var(--color-theme-main);
    --color-second: #747474;
    --color-bac: var(--color-theme-bac);
    --color-bac-items: var(--color-theme-bac-items);
    --color-orange: #EB5E28;
    --color-white: #FFFFFF;
}

* {
    font-family: "Roboto Flex", sans-serif;
    font-size: 16px;
    line-height: 1.1;
    color: var(--color-main);
    margin: 0;
    text-decoration: none;
}

body {
    background-color: var(--color-bac);
}

body::-webkit-scrollbar {
    width: 15px;
    /* Ширина всего элемента навигации */
}

body::-webkit-scrollbar-track {
    background: var(--color-bac);
    /* Цвет дорожки */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    /* Цвет бегунка */
    border-radius: 20px;
    /* Округление бегунка */
    border: 4px solid var(--color-bac);
    /* Оформление границ бегунка */
}

header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #name {
    font-size: calc(16px + 8 * (100vw / 1920));
    font-weight: 500;
}

header #theme {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "title title nav";
}

#wrapper #title {
    grid-area: title;
    padding-left: 30px;
}

#wrapper #title p {
    font-size: calc(32px + 192 * (100vw / 1920));
    font-weight: 900;
}

#wrapper #nav_wrap {
    grid-area: nav;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    margin-bottom: 20px;
    grid-gap: 20px;
}

#wrapper #nav_wrap #nav {
    display: flex;
    grid-gap: 20px;
}

#wrapper #nav_wrap .nav_but {
    padding: 8px 26px;
    font-size: calc(14px + 8 * (100vw / 1920));
    font-weight: 300;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    color: var(--color-white);
    border: 2px solid var(--color-orange);
    background-color: var(--color-orange);
}

#wrapper #nav .false {
    opacity: 0.5;
    color: var(--color-orange);
    background-color: transparent;
}

#wrapper #num {
    padding: 8px 26px;
    white-space: nowrap;
    font-size: calc(14px + 8 * (100vw / 1920));
    font-weight: 200;
    user-select: none;
    color: var(--color-white);
    border: 2px solid var(--color-orange);
    background-color: var(--color-orange);
    border-radius: 5px 0 0 5px;
}

#items {
    margin: 50px 0;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

#items .item {
/*    width: 310px;*/
    padding: 20px;
    border-radius: 5px;
    background-color: var(--color-theme-bac-items);
    box-shadow: 0 0 20px rgb(37,36,34,0.15);
}

#items .item .tegs {
    display: flex;
    grid-gap: 10px;
}

#items .item .tegs .teg {
    text-align: center;
    padding: 10px 30px;
    color: var(--color-white);
    font-weight: 100;
    font-size: 0.8rem;
    user-select: none;
    border-radius: 20px;
    background-color: var(--color-orange);
}

#items .item .text_wrap {
    display: flex;
    justify-content: space-between;
}

#items .item .text_wrap .text {
    width: 100%;
}

#items .item .text_title {
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 500;
}

#items .item .text_text {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 200;
}

#items .item .text_wrap .arrow a {
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

#items .item .text_wrap .arrow {
    width: 50px;
    height: 100%;
    background-image: url(../IMG/arrow.svg);
    background-position: right;
    background-repeat: no-repeat;
    transform: translateX(10px);
    cursor: pointer;
}

#items .item .text_wrap .arrow:hover {
    transform: translateX(10px) scale(1.2);
}


@media (max-width: 950px) {
    #wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title title"
            "nav nav";
    }

    #wrapper #nav_wrap {
        margin-left: 30px;
        margin-top: 50px;
    }

    #wrapper #num {
        border-radius: 5px;
    }

    #items {
        margin: 30px 0;
    }
}

@media (max-width: 720px) {
    #wrapper #nav_wrap {
        display: block;
    }

    #wrapper #nav {
        margin-bottom: 20px;
    }

    #wrapper #num {
        display: inline-block;
    }
}

@media (min-width: 480px) {
    #wrapper #nav .nav_but:hover {
        opacity: 0.5;
        color: var(--color-orange);
        background-color: transparent;
    }
}


@media (max-width: 480px) {
    header {
        padding: 20px 15px;
    }

    #wrapper #title {
        padding-left: 15px;
    }

    #wrapper #title p {
        font-size: calc(48px + 16 * (100vw / 640));
    }

    #wrapper #nav_wrap {
        margin-left: 15px;
    }
}
